// Specific CSS for your home-page

body {
  background-color: #000000;
  color: rgb(220, 105, 255);

}

.container_home {
  background-color: #181E3F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.searchbar {
  height: 70px;
  background-color: #181E3F;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_events {
  height: 40px;
  background-color: #000;
  grid-area: top_events;

}
