<div class="content2">
  <div class="cards">
    <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/image18-f930e120842b7123e7419a775e67835e8f167da085aa168b638949c19ee9b9e7.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn btn-primary">View Event</a>
          </div>
      </div>
  </div>
