<div class="events-index-banner">
  <h1>Events</h1>
</div>


<div id="events">
  <% @events.each do |event| %>

    <div class="events-index-card">
      <%= event.title %>
      <%= link_to "Show this event", event, class:"main-button" %>
    </div>

  <% end %>
</div>

<%= link_to "New event", new_event_path %>
