
<div class="banner">
    <img alt="Le Wagon" src="/assets/wide2-d80eef8eca3fbd5d5e1fe3a2207c795370072a2c5f959dcf9e6bcdc6064feddc.JPG" class="banner">
  <div class="banner-text">
    <h2>Gig Guide Capetown</h2>
    <p>Explore the amazing nightlife we offer</p>
</div>
</div>



<div class="searchbar">

  <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: events_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an event"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>

<nav class="search_navbar">
  <a href="#" class="nav-link">Genre</a>
  <a href="#" class="nav-link">Event</a>
  <a href="#" class="nav-link">Venues</a>
  <a href="#" class="nav-link">Artist</a>
</nav>

</div>

<div class="events_banner">
  <h2>Top   Events</h2>
</div>
