
<div class="banner">
    <img alt="Le Wagon" src="/assets/wide2-d80eef8eca3fbd5d5e1fe3a2207c795370072a2c5f959dcf9e6bcdc6064feddc.JPG" class="banner">
</div>

  <div class="searchbar">Search</div>
  <div class="top_events">Top Events</div>

<div class="container" >


</div>




  <div class="footer"></div>
