
<div class="container">

<div class="navbar">
 <div class="menubar">
  <ul>
   <li class="active"><a href="">Home</a></li>
   <li><a href="">GigGuide</a></li>
   <li><a href="">Events</a></li>
   <li><a href="">Venues</a></li>
  </ul>
 </div>
</div>

<div class="banner">

<img alt="Le Wagon" width="200" src="/assets/Cape jpg-450ca4de3f7f439628233c9f1e1bd9eb1441a24c34de9ae3232b6e84f86e6b74.jpg" class="cape__image">

</div>
      <div class="sidebar">Sidebar</div>


<div class="content1">
  <div class="cards">
    <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/image18-f930e120842b7123e7419a775e67835e8f167da085aa168b638949c19ee9b9e7.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <button class="btn1" ><a href="" class="card__link" ><h6>View Event</h6></a></button>
          </div>
      </div>
  </div>

 </div>

   <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event13-1e47714b48ac23060f29fe40be4ac0cb8002bdb47735e0aef92dcbe3e2cf66b6.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn">View Event</a>
          </div>
         </div>
     </div>

    </div>

    <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event9-dd7865ba35cddcdf4098de8074b37dbdcd972a903eee69efd2567746fc6bda31.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
          <div class= "info">
          <h6>Event Date:
              Venue:</h6>

          </div>
          <div>

           <a href="" class="card__link" class="btn">View Event</a>
          </div>

         </div>
     </div>

    </div>
</div>



<div class="content2">
  <div class="cards">
    <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/image18-f930e120842b7123e7419a775e67835e8f167da085aa168b638949c19ee9b9e7.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn btn-primary">View Event</a>
          </div>
      </div>
  </div>

 </div>

   <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event13-1e47714b48ac23060f29fe40be4ac0cb8002bdb47735e0aef92dcbe3e2cf66b6.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn">View Event</a>
          </div>
         </div>
     </div>

    </div>

    <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event9-dd7865ba35cddcdf4098de8074b37dbdcd972a903eee69efd2567746fc6bda31.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
          <div class= "info">
          <h6>Event Date:
              Venue:</h6>

          </div>
          <div>

           <a href="" class="card__link" class="btn">View Event</a>
          </div>

         </div>
     </div>

    </div>

</div>





<div class="content3">
  <div class="cards">
    <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/image18-f930e120842b7123e7419a775e67835e8f167da085aa168b638949c19ee9b9e7.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn btn-primary">View Event</a>
          </div>
      </div>
  </div>

 </div>

   <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event13-1e47714b48ac23060f29fe40be4ac0cb8002bdb47735e0aef92dcbe3e2cf66b6.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
         <div class= "info">
            <h6>Event Date:
              Venue:</h6>
          </div>
          <div>
             <a href="" class="card__link" class="btn">View Event</a>
          </div>
         </div>
     </div>

    </div>

    <div class="cards">
     <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/event9-dd7865ba35cddcdf4098de8074b37dbdcd972a903eee69efd2567746fc6bda31.jpg" class="card__image1">
         <div class="card__content">
         <p>
         </p>
          <div class= "info">
          <h6>Event Date:
              Venue:</h6>

          </div>
          <div>

           <a href="" class="card__link" class="btn">View Event</a>
          </div>

         </div>
     </div>

    </div>
</div>



<div class ="footer"><Footer>Footer</Footer>


</div>


</div>
