
<div class="banner">
    <img alt="Le Wagon" src="/assets/wide2-d80eef8eca3fbd5d5e1fe3a2207c795370072a2c5f959dcf9e6bcdc6064feddc.JPG" class="banner">
</div>

  <div class="searchbar">Search</div>
  <div class="top_events">Top Events</div>

  <div class="container" >
    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>

    <div class="cards">
      <div class="card">
       <img alt="Le Wagon" width="200" src="/assets/Event-68bdb2e2c2e9ebb3b871d841f71cb71b560b853b4ab0906b78ee467c97ff1ada.JPG">
        <div class="card_content">
          <h2>Event Name:</h2>
            <h3>Date and Time:</h3>
              <h4>Ticket Price</h4>
        </div>
          <div>
          <a href="" class="card_link">Book Event</a>

          </div>
      </div>

    </div>
  </div>


  <div class="footer"></div>
