<%# <p style="color: green"><%= notice</p> %>
<div class="events_banner">
  <h2>VENUES</h2>
</div>

<div class="venue-cards-container">
  <% @venues.each do |venue| %>
    <div class="venue-card">
      <h3> <%= venue.name %> </h3>
    </div>
  <% end %>
</div>



<%= link_to "New venue", new_venue_path %>
