.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.category-selector:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#artist_genre_blues + label {
  color: black;
}

#artist_genre_blues:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#artist_genre_indie + label {
  color: black;
}

#artist_genre_indie:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#artist_genre_jazz + label {
  color: rgb(53, 51, 51);
}

#artist_genre_jazz:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}

.new-artist-background{
  color: rgb(53, 51, 51);
  background-color: rgba(225, 225, 225, 0.5);
}
