.banner {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-image: url("BANNER3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: $martel;
}

.banner-text h2 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: $martel;
}

.banner-text p {
  font-size: 40px;
  margin-bottom: 0;
  font-family: $martel;
}
