.main-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb9016, #c4570f);
  transition: background 0.3s ease;
  border: 1px solid #c4570f;
  text-decoration: none;
}

.main-button:hover {
  background: linear-gradient(#f5e507, #fcb317);
  color: white;
}

.btn-edit {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb9016, #c4570f);
  transition: background 0.3s ease;
  border: 1px solid #c4570f;
  text-decoration: none;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb9016, #c4570f);
  transition: background 0.3s ease;
  border: 1px solid #c4570f;
  text-decoration: none;
}

.btn-delete {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb9016, #c4570f);
  transition: background 0.3s ease;
  border: 1px solid #c4570f;
  text-decoration: none;
}

.venue-button{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#1647fb, #0fc4c4);
  transition: background 0.3s ease;
  border: 1px solid #0f2ec4;
  text-decoration: none;
}

.venue-button:hover {
  background: linear-gradient(#07b2f5, #4838dd);
  color: white;
}

.fa-solid{
  width: 70px;
  margin-left: 50px;
  height: 70px;
  font-size: 2em;
}

.fa-solid.fa-circle-left:hover {
  color: rgb(227, 227, 243);
}

.event-button{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#300631, #3d3494);
  transition: background 0.3s ease;
  border: 1px solid #4f0680;
  text-decoration: none;
}

.event-button:hover {
  background: linear-gradient(#890cc4, #ec54e0);
  color: white;
}


// .home_button {
//   text-align: center;
//   margin-top: 200px;
// }
