.main-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb9016, #c4570f);
  transition: background 0.3s ease;
  border: 1px solid #c4570f;
  text-decoration: none;
}

.main-button:hover {
  background: linear-gradient(#f5e507, #fcb317);
  color: white;
}

// .home_button {
//   text-align: center;
//   margin-top: 200px;
// }
