// .card-trip {
//   text-decoration: none;
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-trip > img {
//   text-decoration: none;
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-trip h2 {
//   text-decoration: none;
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-trip p {
//   text-decoration: none;
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

// .card-trip .card-trip-infos {
//   border-radius: 30px;
//   text-decoration: none;
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-trip-infos .card-trip-user {
//   text-decoration: none;
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// .cards {
//   text-decoration: none;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// .event-name h2 {
//   text-decoration: none;
// }

// .event-name {
//   text-decoration: none;
// }

// .card-trip {
//   border-radius: 6%;
//   text-decoration: none;
// }

// .card-trip-infos {
//   text-decoration: none;
// }

.event-card {
  h3 {
    font-family:'Martel', serif;
    text-decoration: none;
  }
  h5 {
    font-family:'Martel', serif;
    text-decoration: none;
  }
  h4 {
    font-family:'Martel', serif;
    text-decoration: none;
  }

  border: 1px solid rgb(203, 108, 255);
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(57, 13, 72);
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 10px;
  text-align: center;



  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .event-card-date-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .event-card-infos {
    padding: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .event-card {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .event-card {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .event-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .event-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.event-cards-container {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding:20px;
  height: 100%;

  a {
    text-decoration: none;
  }
}

.venue-card {
  display: flex;
  border: 2px solid green;
  

  p {
    font-size: 0.7rem;
    color: white;
  }

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;


  }
}
