.event-card {
  h3 {
    font-family:'Martel', serif;
    text-decoration: none;
    font-size: 1.5rem;
  }
  h5 {
    font-family:'Inter', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color:rgb(203, 108, 255)
  }
  h4 {
    font-family:'Inter', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color:rgb(203, 108, 255)
  }

  border: 1px solid rgb(203, 108, 255);
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(57, 13, 72);
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 350px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .event-card-date-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .event-card-infos {
    padding: 20px;
    // border: 1px solid white;
  }
}

.event-card:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.event-cards-container {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  height: 100%;
  margin-top: 20px;

  a {
    text-decoration: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .event-cards-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .event-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .event-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .event-cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
