.navbar-lewagon {
  background: white;
  background-image: url('NAVBAR');
  background-size: cover;
  font-family: 'Martel', serif;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.navbar-collapse.justify-content-end {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 60px;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}
