.events_banner {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events_banner h2 {
  font-size: 28px;
  font-weight: bold;

}
