
.container-venue-show {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('https://raw.githubusercontent.com/danthackwray/giguide/863e7b3dc3bbc1b61f230910fc9f4d5742ce2b28/VENUE%203.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.name-banner {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 30px;
  font-family: $martel;
  font-size: 10px;
  background-image: url('http://github.com/danthackwray/giguide/blob/863e7b3dc3bbc1b61f230910fc9f4d5742ce2b28/VENUE%203.jpg?raw=true');
}

.venue-info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  margin: 30px;
}

.venue-info img {
  background-image: url('https://raw.githubusercontent.com/danthackwray/giguide/master/RANDOM%20BAND%20PHOTO.jpg');
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
