
.container-venue-show {
  width: 100%;
  margin: 0;
  padding: 30px;
  background-image: url('https://raw.githubusercontent.com/danthackwray/giguide/863e7b3dc3bbc1b61f230910fc9f4d5742ce2b28/VENUE%203.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.name-banner {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 20px 10px;
  text-align: center;
  margin-top: 30px;
  font-family: $martel;
  font-size: 10px;
  background-image: url('http://github.com/danthackwray/giguide/blob/863e7b3dc3bbc1b61f230910fc9f4d5742ce2b28/VENUE%203.jpg?raw=true');
}

.venue-info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  // margin: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.btns-venue-show {
  display: flex;
  justify-content: space-between;
  // border: 1px solid yellow;
  margin-top: 20px;
  align-self: flex-end;
}

.venue-show-top-info {
  display: flex;
  // border: 3px solid green;
  justify-content: space-between;
}

.venue-show-image-section {
  // border: 1px solid orange;
  width: 40%;
  overflow: hidden;
  height: 550px;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.venue-show-infos-section {
  // border: 3px solid palevioletred;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
}

.venue-show-name-description {
  // border: 3px solid blue;
  padding: 0px 30px;

  p {
    font-family: "Inter", sans-serif;
  }
  h2 {
    font-family: $martel;
    font-size: 3rem;
  }
  h4 {
    font-family: $martel;
    margin-top: 20px;
  }
}

.venue-show-infos-bottom {
  // border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
  // width: 9%;
  margin-top: 20px;
  h6 {
    color: #dc69ff;
    margin-right: 10px;
  }
}

.venue-show-description {
  height: 100px;
  overflow-y: scroll;
  // border: 1px solid red;
}

.venue-show-description::-webkit-scrollbar {
  display: none;
}

.venue-show-events-section {
  // border: 2px solid yellow;
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;

  a {
    text-decoration: none;
  }
}

.venue-show-event-card {
  border: 1px solid rgb(203, 108, 255);
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(57, 13, 72);
  color: white;
  height: 200px;
  width: 200px;
  margin-right: 20px;

  h3 {
    font-family:'Martel', serif;
    text-decoration: none;
    font-size: 0.9rem;
  }
  h5 {
    font-family:'Inter', sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color:rgb(203, 108, 255)
  }
  h4 {
    font-family:'Inter', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color:rgb(203, 108, 255)
  }

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }

  .venue-show-event-card-date-price {
    display: flex;
    justify-content: space-between;
    // border: 1px solid green;
  }

  .venue-show-event-card-infos {
    padding: 20px;
    // border: 1px solid white;
  }
}

.venue-show-event-card:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
